@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Robot', Arial, Helvetica, sans-serif;
}

#content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}

/* Header content */
.header {
    background-color: #474b5a;
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 10px;
    font-size: 42px;
    color: #e7e8f1;
}

.header-icon {
    height: 42px;
    width: auto;
    padding-bottom: 2px;
    filter: invert(97%) sepia(5%) saturate(1089%) hue-rotate(187deg) brightness(100%) contrast(90%);
}

/* Main content */
.main {
    display: grid;
    grid-template-columns: 275px 1fr;
}

.sidebar {
    background-color: #949cb9;
}

/* Main content: Task content */
.tasks-display {
    display: grid;
    grid-template-rows: 50px;
    grid-auto-rows: minmax(auto, 50px);
    gap: 25px;
    padding: 25px;
    background-color: #e7e8f1;
    overflow: auto;
}

.tasks-display > button {
    height: 25px;
    width: 100px;
}

.task-card {
    display: grid;
    background-color: #fff;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.expand {
    height: 20px;
    width: auto;
}

.expand:hover {
    cursor: pointer;
}

.complete-task {
    filter: invert(79%) sepia(8%) saturate(113%) hue-rotate(314deg) brightness(108%) contrast(96%);
    cursor: pointer;
}

.check-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 3px;
}

.info-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    margin-top: 3px;
}

.task-description {
    display: none;
    align-self: start;
    justify-self: start;
}

.task-priority {
    display: none;
    align-self: end;
    justify-self: end;
}

/* Footer content */
.footer {
    display: flex;
    background-color: #474b5a;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
}

a {
    text-decoration: none;
    color: #e7e8f1;
    font-size: 18px;
}

.github {
    filter: invert(97%) sepia(5%) saturate(1089%) hue-rotate(187deg) brightness(100%) contrast(90%);
}

.github:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);;
}

/* Pop-up data entry form */

.form-popup {
    display: none;
    align-self: center;
    justify-self: center;
    border: 3px solid black;
    z-index: 9;
    position: fixed;
  }
  
  /* Add styles to the form container */
  .form-container {
    display: grid;
    width: 750px;
    padding: 10px;
    background-color: #bac1da;
  }
  
  /* input fields */
  input[type=text], input[type=number], select {
    width: 50%;
    height: 40px;
    padding: 0 10px 0 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #e7e8f1;
    font-size: 16px;
  }

  select {
    width: 395px;
  }
  
  
  /* Set a style for the submit button */
  .form-container button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;

  }
  
  /* Add a red background color to the cancel button */
  .form-container .btn-cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container button:hover {
    opacity: 1;
  }
  
  /* positioning for popup buttons */
  .popup-buttons {
      display: flex;
      gap: 40px;
      margin: 40px;
      justify-content: center;
  }